<main class="factory-method-page">
  <h1>Factory Method</h1>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel" aria-label="Notification pages">
    <a
      mat-tab-link
      class="notification-tab email-tab"
      routerLink="email-notification"
      routerLinkActive="active-tab"
      #emailLink="routerLinkActive"
      [active]="emailLink.isActive"
      ariaCurrentWhenActive="page"
    >
      Email Notification
    </a>
    <a
      mat-tab-link
      class="notification-tab sms-tab"
      routerLink="sms-notification"
      routerLinkActive="active-tab"
      #smsLink="routerLinkActive"
      [active]="smsLink.isActive"
      ariaCurrentWhenActive="page"
    >
      SMS Notification
    </a>
    <a
      mat-tab-link
      class="notification-tab push-tab"
      routerLink="push-notification"
      routerLinkActive="active-tab"
      #pushLink="routerLinkActive"
      [active]="pushLink.isActive"
      ariaCurrentWhenActive="page"
    >
      Push Notification
    </a>
  </nav>

  <mat-tab-nav-panel #tabPanel class="notification-content">
    <router-outlet />
  </mat-tab-nav-panel>
</main>
