// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  --notification-email-color: #006b5f;
  --notification-sms-color: #1d4ed8;
  --notification-push-color: #a33b00;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

.notification-tab {
  --mdc-tab-indicator-active-indicator-color: var(--notification-tab-color);
  --mat-tab-header-active-label-text-color: var(--notification-tab-color);
  --mat-tab-header-active-focus-label-text-color: var(--notification-tab-color);
  --mat-tab-header-active-hover-label-text-color: var(--notification-tab-color);
  --mat-tab-header-inactive-label-text-color: var(--notification-tab-color);
  --mat-tab-header-inactive-focus-label-text-color: var(--notification-tab-color);
  --mat-tab-header-inactive-hover-label-text-color: var(--notification-tab-color);
}

.email-tab {
  --notification-tab-color: var(--notification-email-color);
}

.sms-tab {
  --notification-tab-color: var(--notification-sms-color);
}

.push-tab {
  --notification-tab-color: var(--notification-push-color);
}

/* You can add global styles to this file, and also import other style files */
