<form (submit)="submit($event)">
  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input
      matInput
      type="text"
      autocomplete="given-name"
      [formField]="emailNotificationForm.firstName"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input
      matInput
      type="text"
      autocomplete="family-name"
      [formField]="emailNotificationForm.lastName"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      autocomplete="email"
      [formField]="emailNotificationForm.email"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input
      matInput
      type="tel"
      autocomplete="tel"
      [formField]="emailNotificationForm.phone"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Subject</mat-label>
    <input matInput type="text" [formField]="emailNotificationForm.subject" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Message</mat-label>
    <textarea matInput rows="5" [formField]="emailNotificationForm.message"></textarea>
  </mat-form-field>

  <button matButton="filled" type="submit">Send email</button>
</form>

@if (previewItems(); as emailPreviewItems) {
  <app-notification-preview-card title="Email preview" [items]="emailPreviewItems" />
}
